/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

#semaforo1 {
  width: 31%;
  height: 35px;
  margin-top:10px;
  margin-left:35%;
  
  margin-bottom:10px;
}
#semaforo2 {
  width: 31%;
  height: 35px;
  margin-left:35%;
 
  margin-bottom:10px;
}
#semaforo3 {
  width: 31%;
  height: 35px;
  margin-left:35%;
 
  margin-bottom:10px;
}
#semaforo {
  padding-top:5px;
  height: 155px;
  width: 25%;
  margin-left:40%;
  background-color: rgb(44, 44, 44);
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.checkboxer {
  overflow: scroll;
}